/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --btn-color: #FF0070;
  --btn-line-color: #FF0070;
  --btn-hover-color: rgb(255 0 112 / 0.4);
  --decor-color: #FF0070;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --text-head-color: #000028;
  --bg-text-head-color: #FF0070;
  --title-section-color: #FF0070;
  --title-article-color: #000028;
  --title-small-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  .header__decor,
  .header__decor::after {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --btn-color: #FF0070;
  --btn-line-color: #FF0070;
  --btn-hover-color: rgb(255 0 112 / 0.4);
  --decor-color: #FF0070;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --text-head-color: #000028;
  --bg-text-head-color: #FF0070;
  --title-section-color: #FF0070;
  --title-article-color: #000028;
  --title-small-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  }
  .header__decor,
  .header__decor::after {
    display: block;
  }
}
