/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #ffeff8;
  --btn-color: #353430;
  --btn-line-color: #353430;
  --btn-hover-color: rgb(50 49 45 / 0.4);
  --decor-color: #353430;
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --text-head-color: #353430;
  --bg-text-head-color: #FF8DCB;
  --title-section-color: #353430;
  --title-article-color: #353430;
  --title-small-color: #353430;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  .header__decor,
  .header__decor::after {
      display: none;
    }
}

@media (prefers-color-scheme: light) {
    .header__decor,
    .header__decor::after {
      display: none;
    }
}