/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  display: grid;
  justify-content: center;
  font-family: var(--font-main);
}

/*ПЕРВЫЙ БЛОК*/

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  right: 10px;
  top: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  left: 10px;
  bottom: 10px;
}

.header__decor {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--decor-color);
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 40px;
  display: none;
}

.header__decor::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
  border-radius: 50%;
  top: 8px;
  left: 45px;
  display: none;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*кнопки*/
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--btn-color);
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  text-align: center;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--btn-line-color);
}

/*текстовая часть header*/
.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /*116px*/
  line-height: 83%;
  color: var(--title-color);
  align-self: center;
  text-shadow: 4px 4px var(--shadow-color);
}

.header__paragraph {
  align-self: center;
}

.header__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-head-color);
  background-color: var(--bg-text-head-color);
}

/*ОСНОВНОЙ КОНТЕНТ*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin: 40px 10px;
}

/*все секции*/
.section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-section-color);
}

.section__block-reasons,
.section__block-advices,
.section__block-main {
  display: grid;
  gap: 20px;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__subtitle {
  font-weight: 700;
  font-size: 18px;
  color: var(--title-article-color);
  background-color: var(--accent-color);
}

.section__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

/*секция 1*/
.link {
  text-decoration: none;
  line-height: 100%;
  text-shadow: 1px 1px var(--shadow-color);
  cursor: pointer;
}

.link:hover {
  border-bottom: 1px solid var(--btn-line-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--btn-line-color);
  text-decoration: none;
}

/*секция 3*/
.section__subtitle-small {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-small-color);
  background-color: var(--accent-color);
}

/*секция 4*/
.section__subtitle-images {
  font-weight: 700;
  font-size: 18px;
  color: var(--title-article-color);
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.section__images-items {
  display: grid;
  gap: 10px;
}

.image {
  width: 100%;
}

/*ПОДВАЛ*/

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /*116px*/
  line-height: 83%;
  color: var(--title-color);
  align-self: center;
  text-shadow: 2px 2px var(--accent-color);
}

/*------------------------- 768 - 1024 -------------------------*/

@media (width >= 768px) {

  /*ПЕРВЫЙ БЛОК*/

  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .header__decor {
    top: 20px;
    right: 50px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__text {
    inline-size: 364px;
    justify-self: end;
  }

  /*ОСНОВНОЙ КОНТЕНТ*/

  .main {
    gap: 80px;
    margin: 60px 20px;
  }

  /*все секции*/
  /*секция 1*/
  .section__main {
    grid-template-columns: 1fr 2fr;
  }

  /*секция 2*/
  .section__reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__block-reasons {
    grid-column: span 3;
  }
  
  /*секция 3*/
  .section__advices {
    grid-template-columns: 1fr 2fr;
  }

  /*секция 4*/

  .section__subtitle-images {
    margin-bottom: 20px;
  }

  .section__images-items {
    gap: 20px;
  }

  .image {
    object-fit: cover;
    height: 100%;
  }

  .section__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    justify-content: center;
  }

  .image:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 5;
  }

  .image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .image:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
  }

  /*ПОДВАЛ*/

  .footer {
    min-height: 1024px;
    padding: 20px;
  }
}

/*---------------------------- 1024 ----------------------------*/

@media (width >= 1024px) {
  
  /*ПЕРВЫЙ БЛОК*/

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /*157px*/
  }

  .header__text {
    inline-size: 491px;
  }

  /*ОСНОВНОЙ КОНТЕНТ*/

  /*секция 2*/
  .section__block-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*ПОДВАЛ*/

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /*157px*/
  }
}
